<h1>Listing forms</h1>

<table>
  <tr>
    <th>Bank</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.bank_id %></td>
    <td><%= form.name %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "<i class='icon-plus' ></i> New Form".html_safe, new_form_path, :class=>'btn btn-success' %>
